.git
.gitignore
.github/
.idea/
.dockerignore
venv/
.venv/
.devcontainer/
.cache/
Dockerfile
compose*.yml
compose*.yaml
__pycache__/
*.pyo
*.pyd
.ruff_cache/
.mypy_cache/
.pytest_cache/
.pre-commit-config.yaml
Taskfile.yml
output/
docs/
tests/
scripts/
.zensical.runtime.toml
.env
.env.example
